<ul class="nav nav-list">
  <li>
    <div style="display: block; "> 
      <a href="http://www.jdoqocy.com/click-6240564-10718312?url=http%3A%2F%2Fwww.odesk.com%2Fusers%2F~01b56a491ec490c007" target="_blank"><img src="http://www.odesk.com/images/hire_me_button.gif" style="border:0px;"></a>
    </div> 
  </li>
  <li>
    <a href="http://www.tkqlhce.com/click-6240564-10708928" target="_blank">
      <img src="http://www.awltovhc.com/image-6240564-10708928" width="125" height="125" alt="" border="0"/></a>
  </li>
  <li>
    <a href="http://www.kqzyfj.com/click-6240564-10715492" target="_blank">
      <img src="http://www.tqlkg.com/image-6240564-10715492" width="120" height="90" alt="" border="0"/></a>
  </li>
</ul>