<ul class="nav nav-list">
  <li>
    <a href="http://www.jdoqocy.com/click-3827164-10718312?url=http%3A%2F%2Fwww.odesk.com%2Fusers%2F~01b56a491ec490c007" target="_blank"><img src="http://www.ftjcfx.com/image-3525046-10713421" width="125" height="125" alt="Hire me on oDesk" border="0"/></a>
  </li>
  <li>
    <!-- START Email Footer Widget --> 
    <div style="display: block; height: 55px;"> 
    <a href="http://www.jdoqocy.com/click-6240564-10718312?url=http%3A%2F%2Fwww.odesk.com%2Fusers%2F~01b56a491ec490c007" target="_blank"><img 

    src="http://www.odesk.com/images/hire_me_button.gif" style="border:0px;"></a>
    </div> 
    <!-- END  Email Footer Widget -->
  </li>
  <li>
    <a href="http://www.tkqlhce.com/click-6240564-10708928" target="_blank">
      <img src="http://www.awltovhc.com/image-6240564-10708928" width="125" height="125" alt="" border="0"/></a>
  </li>
  <li>
    <a href="http://www.kqzyfj.com/click-6240564-10715492" target="_blank">
      <img src="http://www.tqlkg.com/image-6240564-10715492" width="120" height="90" alt="" border="0"/></a>
  </li>
</ul>